 body{
          background-color: rgb(193, 238, 238);
        }
        #det {
            background-color: rgb(155, 155, 216);
            color: white;
            font-size: x-large;
            text-align: center;

        }
        #a
        {
            background-color: goldenrod;
            color: white;
            border: 2px solid red;
            width: 50px;
            margin-left: 180px;
        }
        #a:hover
        {
            background-color: blueviolet;
        }
        #x
        {
            background-color: red;
        }
        #t{
            font-size: x-large;
            color: white;
            font-weight: 800;
        }